.review {
  padding-top: 48px;
  padding-bottom: 48px;

  @media (min-width: $screen-xl) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  $block-name:                &; // #{$block-name}__element

  &__row {
    gap: 24px 0;
  }

  &__intro-text-col,
  &__item-col {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 12);
    @include col(lg, 6);
    @include col(xl, 6, $grid-columns, 32px);
  }

  &__item-col {

  }

  &__intro-text {

  }

  &__intro-title {
    margin-top: 0;
  }

  &__slider {

  }

  &__slide {

  }
}
